#map {
  width: 1020px;
  height: 510px;
}

.jumbotron { 
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 6px;
}

.external-container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-container {
  margin-top: 70px;
}